<header class="main-header">
    <div class="user-profile">
        <span id="userName"></span>
        <div class="user-avatar" id="userAvatar"></div>
    </div>
</header>
<section>
    <h2>Resumo</h2>
    <div class="grid-container">
        <div class="card"><span id="userAnalysesCount" class="card-number">0</span><span class="card-label">Análises</span></div>
        <div class="card"><span id="totalBooksCount" class="card-number">0</span><span class="card-label">Obras</span></div>
        <div class="card"><span class="card-number">01</span><span class="card-label">Notificações</span></div>
    </div>
</section>
<section>
    <h2>Destaques</h2>
    <div class="grid-container" id="destaquesContainer">
        </div>
</section>